# ---------------------------
# VISUAL STUDIO
# ---------------------------
.vs/
node_modules/

# ---------------------------
# PYTHON
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------
# ENVIRONMENTS / SECRETS
# ---------------------------
.env
*.env
venv/
config/settings/local.py

# ---------------------------
# DJANGO PROJECT
# ---------------------------

media/
staticfiles/
BK/
# ---------------------------
# BACKUPS
# ---------------------------
*.sql
*.dump
2_db.sqlite3

# ---------------------------
# OS FILES
# ---------------------------
.DS_Store
Thumbs.db
db.sqlite3