# ---------------------------
# VISUAL STUDIO
# ---------------------------
.vs/
node_modules/

# ---------------------------
# PYTHON
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------
# ENVIRONMENTS / SECRETS
# ---------------------------
.env
*.env
venv/
config/settings/local.py

# ---------------------------
# DJANGO PROJECT
# ---------------------------
db.sqlite3
media/
staticfiles/
BK/
# ---------------------------
# BACKUPS
# ---------------------------
*.sql
*.dump

# ---------------------------
# OS FILES
# ---------------------------
.DS_Store
Thumbs.db